<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.dao.UserInfoDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <!-- 查询数据库中是否存在该用户 -->
    <select id="queryByUserName" resultType="userinfo" >
        <!-- 具体的sql -->
        SELECT
           *
        FROM
            userinfo
        WHERE
           username=#{username}
    </select>
	<!-- 检验用户名与密码在数据库中是否有匹配项 -->
    <select id="queryByNameAndPwd" resultType="userinfo">
       SELECT
           *
        FROM
            userinfo
        WHERE
           username=#{username} and  `password`=#{password}
    </select>
    <!-- 查询所有用户对象 -->
    <select id="getAllUser" resultType="userinfo">
       SELECT
           *
        FROM
            userinfo
    </select>
	<!-- 新增一条用户记录 -->
    <insert id="addUserInfo" parameterType="userinfo">
    	INSERT into userinfo(username,password,nickname,status) 
    	values(#{username},#{password},#{nickname},#{status})
    </insert>
    
    <!-- 删除指定编号的用户记录 -->
    <delete id="delUserById">
    	DELETE  from userinfo where userinfo.user_id=#{userId}
    </delete>
    
    <!-- 修改用户信息 -->
    <update id="updateUser" parameterType="userinfo">
    	update userinfo
    	<set>
    		<if test="username!=null">
    		username=#{username},
    		</if>
    		<if test="nickname!=null">
    		nickname=#{nickname},
    		</if>
    		<if test="password!=null">
    		password=#{password},
    		</if>
    		<if test="username!=null">
    		status=#{status}
    		</if>
    	</set>
    	<where>
    		<if test="userId!=null">
    		user_id=#{userId}
    		</if>
    	</where>
    	
    </update>
    <!-- 获取用户角色 -->
    <select id="getRoles" parameterType="String" resultType="String">
		select r.role_name from userinfo u,role r 
		where u.role_id=r.role_id and u.username=#{username}
	</select>
	<!-- 获取用户权限 -->
	<select id="getPermissions" parameterType="String" resultType="String">
		select p.permission_name from userinfo u,permission p 
		where u.role_id=p.role_id
		and u.username=#{username}
	</select>
</mapper>