<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<!-- 引cxf的一些核心配置 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


    <!--定义webservice的发布接口-->
	<jaxws:endpoint id="bookWs" implementor="#bookws" address="/bookWs">
		<jaxws:properties>
			<entry key="schema-validate-enabled" value="true"/>
		</jaxws:properties>
	</jaxws:endpoint>

    <jaxws:endpoint id="webinfoWs" implementor="#webinfows" address="/webinfoWs">
        <jaxws:properties>
            <entry key="schema-validate-enabled" value="true"/>
        </jaxws:properties>
    </jaxws:endpoint>


</beans>
