<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.mapper.BookRecMapper">
  <resultMap id="BaseResultMap" type="com.echo.model.BookRec">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="bookNum" jdbcType="BIGINT" property="booknum" />
    <result column="bookSum" jdbcType="BIGINT" property="booksum" />
  </resultMap>
</mapper>